#Visual Studio Code
.vscode

#Rhasspy Folder
rhasspy

#Home Assistant
hass/config/.HA_VERSION
hass/config/.shopping_list.json
hass/config/.storage/
hass/config/deps/
hass/config/home-assistant.log
hass/config/home-assistant_v2.db
hass/config/home-assistant_v2.db-shm
hass/config/home-assistant_v2.db-wal
hass/config/known_devices.yaml
hass/config/secrets.yaml
hass/config/www/